[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.127.0",
    "langchain>=1.2.0",
    "langchain-ollama>=1.0.1",
    "sqlalchemy>=2.0.45",
    "uvicorn>=0.40.0",
]
